/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 9, 2017, 2:40:44 PM
    Author     : carloalberto
*/


.get_messages {
    color: white;
    -fx-background-color: #1d1d1d;
    -fx-graphic: url("http://findicons.com/files/icons/783/mozilla_pack/128/thunderbird.png");
}

.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.flat-btn {
    -fx-border-radius: 0
}